# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.egg-info/
dist/
build/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Virtual environments
venv/